* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.root {
  width: 100vw;
  height: auto;
  overflow: hidden;

  @media (max-width: 1023px) {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
  }
}

.sun.rotate {
  animation: rotate 5s infinite linear;
}

.animation-paused {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.viewport {
  height: 100%;
  aspect-ratio: 16/9;
  position: relative;
  perspective: 1000px;
  transform: scale(1.06);
  user-select: none;

  @media (min-width: 1921px) {
    transform: scale(1.12);
  }

  @media (min-width: 2401px) {
    transform: scale(1.15);
    perspective: 1800px;
  }
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;

  &.reveal {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;

    path {
      pointer-events: none;
    }
  }

  &[data-name="sun"],
  &[data-name="background"] {
    opacity: 1;
  }

  // hover effect on scene items with lottie
  /* &:has(path:hover)>* { */
  /*   transform: scale(1.015); */
  /* } */
  /**/
  /* svg, */
  /* div { */
  /*   transition: transform 0.3s ease-in-out; */
  /* } */

  svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    path {
      opacity: 0;
      pointer-events: all;
      cursor: pointer;
    }

    &.debug path {
      opacity: 0.5;
    }
  }

  &.static {
    path {
      cursor: default;
    }
  }
}

.paralax-info {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  transform: translate(-50%, -50%);
  white-space: pre-line;
  font-family: "CommitMono";
  font-size: 12px;
}
