* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.viewport {
  width: 100vw;
  height: auto;
  overflow: hidden;

  @media (max-width: 1023px) {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
  }
}

.root {
  height: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;

  &.show {
    opacity: 1;
  }

  &[data-name="sun"],
  &[data-name="background"] {
    opacity: 1;
  }

  // hover effect on scene items with lottie
  /* &:has(path:hover)>* { */
  /*   transform: scale(1.015); */
  /* } */
  /**/
  /* svg, */
  /* div { */
  /*   transition: transform 0.3s ease-in-out; */
  /* } */

  svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    path {
      opacity: 0;
      pointer-events: all;

      &:hover {
        cursor: pointer;
      }
    }

    &.show path {
      opacity: 0.5;
    }
  }

  div {
    height: 100%;
    width: 100%;
  }
}

.controls {
  position: fixed;
  bottom: 3px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3px;

  .control {
    width: auto;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 99px;

    &.disabled {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.3);
      cursor: not-allowed;
    }
  }
}
